<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/list" class="btn" >Expense List</a>
    
    
    <form class="" action="/" method="POST">
        
            
        <div class="">
            <p class=""> Expense tile</p>
            <input type="text" name="title" id="title">
            <p class="">Cost</p>
            <input type="text" name="price" id="price">
            
            <label></label>
        </div>
       
        <button type="submit">Add Expense</button>
    </form>
    
</body>
</html>